
@{
    ViewBag.Title = "Starter Page";
    ViewBag.Purpose = "View for dashboard (Default).";
}


@section styles
{
}


<div class="container-fluid">
    @await Html.PartialAsync("~/Views/Shared/Partials/_PageTitle.cshtml")

    @* add you ccontent here *@

</div>


@section scripts
{
}