@{
    ViewBag.Purpose = "Shared layout/partial (navigation, scripts, common UI).";
}

@* Bootstrap confirm modal used by forms with `data-confirm` *@
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Please confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="confirmModalMessage" class="mb-0">Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" id="confirmModalConfirmBtn" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
