﻿<meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
@{
    var title = ViewBag.Title != null
    ? ViewBag.Title : "Photography Business Manager";
}
<title>@title</title>


<meta name="description" content="myPhotoBiz is a comprehensive photography CRM and CMS template designed for photographers and studios. Manage clients, bookings, and portfolios with ease using our responsive admin interface.">
<meta name="keywords" content="myPhotoBiz, photography, photography CRM, CRM template, CMS template, responsive admin, portraits, family photography, wedding photography, photo studio management">
<meta name="author" content="Cory Roberts">
<!-- App favicon -->
<link rel="shortcut icon" href="~/images/favicon.ico">